* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
  }
  
  .navbar a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    transition: color 0.3s;
    flex-direction: row;
    align-items: center;

    img {
        object-fit: contain;
        width: 40px;
        height: auto;
    }
  }


  
  .navbar a:hover {
    color: #ffcc00; 
  }
  
  .navbar a.active {
    color: #ffcc00; 
  }
  